<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<PropertyGroup>
		<OutputType>Console Application</OutputType>
		<!-- Аналог Windows Application -->
		<TargetFramework>net472</TargetFramework>
		<PlatformTarget>x64</PlatformTarget>
		<!-- или x86 -->
		<ApplicationManifest>app.manifest</ApplicationManifest>
		<requestedExecutionLevel level="requireAdministrator" uiAccess="false"/>
	</PropertyGroup>
</configuration>